{% extends 'flatpages/default.html' %}
{% load custom_tags %}

{% block content %}

<h2>Поиск новостей</h2>

<!-- Форма поиска -->
<form method="get">
    {{ form.as_p }}
    <button type="submit">Найти</button>
</form>

<hr>

<!-- Результаты -->
{% if news_list %}
    {% for news in news_list %}
        <div class="news-item">
            <h3><a href="{% url 'news_detail' news.pk %}">{{ news.title }}</a></h3>
            <p>Дата: {{ news.created_at|date:"d.m.Y" }}</p>
            <p>{{ news.content|truncatechars:20 }}</p>
        </div>
    {% empty %}
        <p>Новостей не найдено.</p>
    {% endfor %}
{% endif %}

<!-- ПАГИНАЦИЯ -->
    {% if page_obj.has_other_pages %}
        <!-- Первая страница -->
        <a href="?{% url_replace page=1 %}">&laquo; Первая</a>

        <!-- Предыдущая страница -->
        {% if page_obj.has_previous %}
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}

        <!-- Текущая страница -->
        <span>{{ page_obj.number }}</span>

        <!-- Следующая страница -->
        {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% endif %}

        <!-- Последняя страница -->
        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">Последняя &raquo;</a>
    {% endif %}

{% endblock %}