{% extends 'flatpages/default.html' %}
{% block content %}
    <h2>Страница авторизованного пользователя {{ user_display }}</h2>
    <p>Здесь может содержаться персональная информация.</p>

    {% if user.is_authenticated %}
        <form method="post" style="display: inline;">
            {% csrf_token %}
            <a href="{% url 'account_logout' %}" class="btn btn-secondary">Выйти</a>
        </form>

        {% if not is_author %}
            <a href="{% url 'upgrade_to_author' %}">Хочу Premium!</a>
        {% else %}
            <span>Вы — автор ✅</span>
        {% endif %}
    {% endif %}
{% endblock %}