<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
</head>
<body>
    <h1><a href="{% url 'news_list' %}">На Главную</a></h1>
    <h2>Страница авторизованного пользователя {{ user_display }}</h2>
    <p>Здесь может содержаться персональная информация для каждого пользователя</p>

    <div>
        <a href="{% url 'account_logout' %}" style="margin-right: 10px;">
            Выйти
        </a>

        {% if not is_author %}
            <a href="{% url 'upgrade_to_author' %}">
                Хочу Premium!
            </a>
        {% else %}
            <span style="color: green; margin-left: 10px;">Вы — автор ✅</span>
        {% endif %}
    </div>

    {% if messages %}
        <div style="margin-top: 20px;">
            {% for message in messages %}
                <div style="padding: 10px; background: #007bff; color: white;">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>